/* Sidebar styles */
.sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    width: 200px;
    height: calc(100vh - 60px);
    background: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;
}


/* Sidebar Links */
.sidebar a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidebar a:hover {
    background: black;
    color: white;
}

/* Active link styling */
.sidebar .active {
    background-color: #dddddd;
    color: black;
    font-weight: bold;
}

.sidebar .active a {
    color: blue;
}

/* Hamburger Menu Button */
.menu-btn {
    position: fixed;
    top: 62px;
    left: 110px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

/* Show hamburger menu on mobile */
@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
        padding: 0.25rem;
    }

    .sidebar {
        width: 150px;
        transform: translateX(-100%);
        position: fixed;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }
    .sidebar.open {
        transform: translateX(0);
    }
}
